{{ partial "head.html" . }}
<div class="page page--meetup-list">
    <header class="page__header page__header--subpage">
        {{ partial "topbar.html" . }}
        <h1>Meetups</h1>
    </header>
    <div class="page__content">
        {{ .Content }}

        {{ range $.Site.Data.countries }}
            {{ $countryCode := (index . "code") }}
            {{ $meetups := (sort (where $.Site.AllPages "Params.country" $countryCode) "Params.city")  }}
            {{ if $meetups }}
            <div class="meetup-list__country">
                <h2 class="meetup-list__country__title">{{ index . "name" }}</h2>
                <table class="table table--meetups">
                    <thead>
                        <tr>
                            <th>City</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $meetups }}
                        <tr>
                            <td>{{ .Params.city }}</td>
                            <td><a href="{{ .Params.website }}">{{ .Title }}</a></td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
            {{ end }}
        {{ end }}
    </div>
</div>
{{ partial "foot.html" . }}
